@font-face {
  font-family: 'Gramercy';
  src: url('/fonts/ABCGramercyVariable-Trial.woff2') format('woff2');
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans-Regular.woff2') format('woff2'),
    url('/fonts/Mona-Sans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans-SemiBold.woff2') format('woff2'),
    url('/fonts/Mona-Sans-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}
